.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 16px;
}

.red {
  background-color: var(--red);
}

.purple {
  background-color: var(--purple);
}

.gray {
  background-color: var(--gray);
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.number {
  border: 1px solid white;
  min-width: 20px;
  border-radius: 30px;
  padding: 5px 10px;
  margin-right: 12px;
}
